*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.8%;
}
body {
    min-height: 100%;
    background-color: #111;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }
nav{
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12;
}
ul li{
    list-style:none; font-size:12px;
}
main{
    position: relative;
    z-index: 10;
    width: 95%;
    margin: 0 auto;
    /* padding: 30px 30px 0px; */
}
