.nav-bar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-decoration:none;
}
.nav-link:hover {
    color: #aaa;
}

.iphone-container {
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    position: sticky;
    top: 0px;
    background-color: #111;
    z-index: 9999;
}


.iphone-container_title a {
    text-decoration: none;
    color: #f5f5f7;
    font-weight: 600;
    font-size: 21px;
    margin-left: 30px;
}

.iphone-container_nav a {
    margin-left: 24px;
    color: #f5f5f7;
    font-size: 12px;
    text-decoration: none;
}

.overview {
    color: #aaa !important;
}

.btn-primary {
    border-radius: 12px;
}

.image-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-color: black;
    margin: 0 auto;
    z-index: 6;
    overflow: visible;
}

.box {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 6;
    overflow: hidden;
    padding-top: 20vh;
    padding-right: 22%;
    padding-left: 22%;
    background-color: black;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.shadow {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: -20vh;
    z-index: 10;
    height: 20vh;
    background-image: linear-gradient(180deg, black, transparent 100%, transparent);
}

.space {
    width: 100%;
    z-index: 10;
    height: 30px;
    background-color: #111;
}

.info-container {
    position: relative;
    z-index: 3;
    margin-top: -90vh;
}

.intro-container-info {
    height: 200vh;
}

.intro-content {
    max-width: 980px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.intro-title {
    color: #f5f5f7;
    font-size: 96px;
    line-height: 1.04;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.01em;
}

.intro-paragraph {
    margin-top: 45px;
    margin-bottom: 50px;
    color: #aaa;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.004px;
}

.more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-info p {
    margin-bottom: 18px;
    color: #aaa;
    font-size: 24px;
}

.link-info {
    /* border: 1px solid red; */
    margin-top: 10px;
}

.link-info a {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    padding: 1em;
}

.link-info a:hover {
    text-decoration: underline
}
.intro-sticky {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.iphone-gallery_container {
    position: relative;
    z-index: 5;
    display: grid;
    height: 100vh;
    max-height: 780px;
    padding-bottom: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 3016px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #111;
}

.grid_container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.grid-image_1 {
    height: 100%;
    padding-top: 60px;
    padding-left: 60px;
}

.grid-image_2 {
    width: 100%;
}

.grid-image_3 {
    max-width: 265px;
}

.image-left {
    max-width: 479px
}

.image-center {
    max-width: 100%;
}

.image-right {
    max-width: 265px;
}

.cam-container {
    position: relative;
    z-index: 2;
    margin-top: -100vh;
}

.cam-container_grid {
    height: 200vh;
}

.cam-grid_container {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    padding-bottom: 30px;
    padding-top: 30px;
    z-index: 100;
    background-color: #111;
}
.container-grid-cam {
    position: relative;
    z-index: 2;
    margin-top: -100vh;
  }
  .container-grid{
    height: 200vh;
  }

  .grid-sticky {
    position: sticky;
    top: 0px;
    display: block;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .grid-section {
    z-index: 100;
    display: grid;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: auto;
    background-color: black;
  }
  .text-grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .grid-container-title{
    max-width: 380px;
    color: #f5f5f7;
    font-size: 72px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.006px;
  }
  .grid-container-paragraph{
    max-width: 370px;
    color: #aaa;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.003px;
  }
 .img-cam-grid_container{
    overflow: hidden;
    padding-top: 30vh;
    background-color: #000;
 }
 .img-cam-grid{
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/hero_gallery_camera_glass__bhv9k5jrv1oy_large_2x.jpg');
    background-position: 50% 0%;
    background-size: cover;
 }
.tree-cams{
    position: relative;
    z-index: 1;
    margin-top: -100vh;
    background-color: #000;
}
.cameras{
    position: relative;
    z-index: 1;
    height: 200vh;
    background-color: #000;
    /* border: 1px solid red; */
}
  .camera-hero-sticky-container {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    width: 100%;
    min-height: 300vh;
  }
  
  .camera-hero-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .camera-hero-lens-container {
    position: absolute;
    left: -175px;
    top: 50%;
    z-index: 1;
    width: 1507px;
    height: 1627px;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  
  .top-lens {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    -webkit-transform-origin: 641.9094746907552px 756.4356689453125px;
    -ms-transform-origin: 641.9094746907552px 756.4356689453125px;
    transform-origin: 641.9094746907552px 756.4356689453125px;
  }
  
  .middle-lens {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -366.5px;
    -webkit-transform-origin: -105.25961176554358px 409.8880615234375px;
    -ms-transform-origin: -105.25961176554358px 409.8880615234375px;
    transform-origin: -105.25961176554358px 409.8880615234375px;
  }
  
  .bottom-lens {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    -webkit-transform-origin: 567.3501065572103px -66.8236083984375px;
    -ms-transform-origin: 567.3501065572103px -66.8236083984375px;
    transform-origin: 567.3501065572103px -66.8236083984375px;
  }
  
  .lens-image {
    width: 736px;
    height: 733px;
  }
  
  .lens-image.top {
    background-image: url('./assets/images/camera_hero_top_lens__cusk12tbni2q_large_2x.jpg');
    background-position: 0px 0px;
    background-size: 736px 733px;
    background-repeat: no-repeat;
  }
  
  .lens-image.middle {
    background-image: url('./assets/images/camera_hero_middle_lens__dl622r81r866_large_2x.jpg');
    background-position: 0px 0px;
    background-size: 736px 733px;
    background-repeat: no-repeat;
    letter-spacing: -0.015px;
  }
  
  .lens-image.bottom {
    background-image: url('./assets/images/camera_hero_bottom_lens__gizmb28emfue_large_2x.jpg');
    background-position: 0px 0px;
    background-size: 736px 733px;
    background-repeat: no-repeat;
  }
  
  .lens-image-top {
    width: 736px;
    height: 733px;
  }
  
  .camera-hero-content {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .camera-hero-content-container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 83.33333%;
    -ms-flex: 0 83.33333%;
    flex: 0 83.33333%;
  }
  
  .camera-hero-heading {
    color: #aaa;
    font-size: 96px;
    line-height: 1.0416;
    font-weight: 600;
    letter-spacing: -0.015px;
  }
  
  .camera-hero-headline {
    font-size: 96px;
    line-height: 1.0416;
    font-weight: 600;
  }