
  .img-cam-grid {
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/hero_gallery_camera_glass__bhv9k5jrv1oy_large_2x.jpg');
    background-position: 50% 0%;
    background-size: cover;
  }

  .camera-hero-sticky-container {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    width: 100%;
    min-height: 300vh;
  }
  
  .camera-hero-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .camera-hero-lens-container {
    position: absolute;
    left: -175px;
    top: 50%;
    z-index: 1;
    width: 1507px;
    height: 1627px;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  
  .top-lens {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    -webkit-transform-origin: 641.9094746907552px 756.4356689453125px;
    -ms-transform-origin: 641.9094746907552px 756.4356689453125px;
    transform-origin: 641.9094746907552px 756.4356689453125px;
  }
  
  .middle-lens {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -366.5px;
    -webkit-transform-origin: -105.25961176554358px 409.8880615234375px;
    -ms-transform-origin: -105.25961176554358px 409.8880615234375px;
    transform-origin: -105.25961176554358px 409.8880615234375px;
  }
  
  .bottom-lens {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    -webkit-transform-origin: 567.3501065572103px -66.8236083984375px;
    -ms-transform-origin: 567.3501065572103px -66.8236083984375px;
    transform-origin: 567.3501065572103px -66.8236083984375px;
  }
  
  .lens-image {
    width: 736px;
    height: 733px;
  }
  
  .lens-image.top {
    background-image: url('./assets/images/camera_hero_top_lens__cusk12tbni2q_large_2x.jpg');
    background-position: 0px 0px;
    background-size: 736px 733px;
    background-repeat: no-repeat;
  }
  
  .lens-image.middle {
    background-image: url('./assets/images/camera_hero_middle_lens__dl622r81r866_large_2x.jpg');
    background-position: 0px 0px;
    background-size: 736px 733px;
    background-repeat: no-repeat;
    letter-spacing: -0.015px;
  }
  
  .lens-image.bottom {
    background-image: url('./assets/images/camera_hero_bottom_lens__gizmb28emfue_large_2x.jpg');
    background-position: 0px 0px;
    background-size: 736px 733px;
    background-repeat: no-repeat;
  }
  
  .lens-image-top {
    width: 736px;
    height: 733px;
  }
  
  .camera-hero-content {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .camera-hero-content-container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 83.33333%;
    -ms-flex: 0 83.33333%;
    flex: 0 83.33333%;
  }
  
  .camera-hero-heading {
    color: #aaa;
    font-size: 96px;
    line-height: 1.0416;
    font-weight: 600;
    letter-spacing: -0.015px;
  }
  
  .camera-hero-headline {
    font-size: 96px;
    line-height: 1.0416;
    font-weight: 600;
  }
  
  